* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-align: left;
}

body {
  background-color: var(--color-gray-1);
  font-family: 'Poppins', sans-serif;
  font-size: 1.1rem;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

:root {
  --color-white: #FFFFFF;
  --color-gray-0: #f8f8f8;
  --color-gray-1: #dbe1ef;
  --color-gray-2: #d2becd;
  --color-gray-3: #6c7983;
  --color-gray-4: #454e56;
  --color-gray-5: #2a2e35;
  --color-gray-6: #12181b;
  --br-sm-2: 14px;
  --box-shadow-1: 0 3px 15px rgba(0, 0, 0, .3);
}

.main-title h2 {
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 700;
}

.description h5 {
  text-align: center;
  position: relative;
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: 300;
}

.main-container {
  margin: 1.5rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 2fr 1fr;
      grid-template-columns: 2fr 1fr;
}

.main-container .container {
  background-color: var(--color-white);
  padding: var(--br-sm-2);
  margin: 0.5rem;
  border-radius: var(--br-sm-2);
  -webkit-box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
          box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.1);
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.main-container .container .form .input-control {
  margin: 1rem;
}

.main-container .container .form .input-control input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 10px;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  padding: .5rem 1rem;
  outline: none;
  border: none;
  background-color: var(--color-gray-1);
  width: 100%;
  resize: none;
}

.main-container .container .form .input-control input[type=number]::-webkit-inner-spin-button,
.main-container .container .form .input-control input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.main-container .container .form .input-control input:invalid:required {
  background-image: linear-gradient(11deg, #ed0d0d 0%, rgba(0, 44, 255, 0.188113) 100%);
}

.main-container .container .form .input-control label {
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  text-transform: uppercase;
}

.main-container .container .form .input-control h6 {
  font-weight: inherit;
  font-size: .8rem;
  font-family: inherit;
  text-transform: uppercase;
}

.main-container .container .form .submit-btn {
  text-align: center;
  color: var(--color-white);
}

.invisible {
  visibility: hidden;
}

.gradient-background {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  -webkit-animation: gradient 7s ease infinite;
          animation: gradient 7s ease infinite;
}

@-webkit-keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

table {
  border-collapse: collapse;
  width: 100%;
}

table th,
table td {
  text-align: center;
  border: 1px solid var(--color-gray-1);
  padding: 8px;
}

.footer {
  text-align: center;
  margin-bottom: 2rem;
}
/*# sourceMappingURL=styles.css.map */