<!doctype html>
<html>

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function cb(selection) {
            console.log('START')
            const d = parseFloat(document.querySelector('#d').value);
            const l = parseInt(document.querySelector('#l').value);
            const t = parseInt(document.querySelector('#t').value);
            $.getJSON({
                url: "/callback",
                data: {
                    'd': d,
                    'l': l,
                    't': t
                },
                success: function (result) {
                    Plotly.newPlot('chart', result['first'], {
                        staticPlot: true
                    });
                    Plotly.newPlot('chart2', result['second'], {
                        staticPlot: true
                    });
                }
            });
            console.log('REFRESHED');
        }
    </script>
</head>

<body style="font-family:arial, sans-serif">

    <div class="jumbotron text-center">
        <h1>Physics Equesions</h1>
        <p>Change value in fields to see changes</p>
    </div>

    <div class="container">
        <div class="row">
        <div class="col-sm-4"><h2>D</h2><input class="form-control" type="text" value="0.06" id="d" name="d" onchange="cb(this.value)"></div>
        <div class="col-sm-4"><h2>L</h2><input class="form-control" type="text" value="12" id="l" name="l" onchange="cb(this.value)"></div>
        <div class="col-sm-4"><h2>T</h2><input class="form-control" type="text" value="150" id="t" name="t" onchange="cb(this.value)"></div>
    </div>
    </div>

    <div class="container">
        <div id="chart" class="chart"></div>
        <div id="chart2" class="chart2"></div>
    </div>

</body>

<script>
    data = {{graphJSON | safe}};
    Plotly.newPlot('chart', data['first'], {});
    Plotly.newPlot('chart2', data['second'], {});
</script>

</html>