<!doctype html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Physics Equesions</title>
    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap" rel="stylesheet">
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<body>
<div class="main-title">
    <h2>physics equations</h2>
</div>

<div class="description">
    <h5>diffusion process simulator</h5>
</div>

<div class="main-container">
    <div class="container">
        <div id="chart" class="chart"></div>
        <div id="chart2" class="chart2"></div>
    </div>
    <div class="right-container">
        <div class="container">
            <form class="form" action="" id="form">
                <div class="input-control">
                    <label for="d">D</label>
                    <input type="number" value="0.06" step="0.0000001" id="d" name="d" required
                           onkeypress="return event.charCode!=45">
                    <h6>diffusion coefficient</h6>
                </div>
                <div class="input-control">
                    <label for="l">L</label>
                    <input type="number" value="12" step="0.0000001" id="l" name="l" required
                           onkeypress="return event.charCode!=45">
                    <h6>length of bar</h6>
                </div>
                <div class="input-control">
                    <label for="t">T</label>
                    <input type="number" value="150" step="0.0000001" id="t" name="t" required
                           onkeypress="return event.charCode!=45">
                    <h6>duration of process</h6>
                </div>
                <div class="input-control">
                    <label for="x">X</label>
                    <input type="number" value="100" step="1" id="x" name="x" required
                           onkeypress="return event.charCode!=45">
                    <h6>discression by x</h6>
                </div>
                <div class="input-control">
                    <label for="y">T</label>
                    <input type="number" value="1000" step="1" id="y" name="y" required
                           onkeypress="return event.charCode!=45">
                    <h6>discression by t</h6>
                </div>
                <div class="input-control">
                    <input class="submit-btn gradient-background" type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>

</div>
<p class="footer">Source code <a href="https://github.com/dm4nk/physics_equations/tree/new/dima">https://github.com/dm4nk/physics_equations</a>
</p>
</body>

<script src="static/js/script.js"></script>

</html>